/*Colours*/
/*
  $colours: (
    "transparent" : transparent,
    "black" : $black,
    "white" : $white,
    "grey" : $grey,
    "grey-darker" : $grey-darker,
    "primary-colour" : $primary-colour,
    "secondary-colour" : $secondary-colour,
);
*/
.form-control {
  margin-bottom: 5px;
}

.form-group {
  margin-bottom: 0px;
}

.step {
  display: block;
  border: 2px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
}

.step h3 {
  margin: 0 0 5px;
}

.step .edit-step {
  opacity: 0.5;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: #ddd;
}

.step .edit-step:hover {
  color: black;
}

.step.completed .step-content {
  display: none;
}

.step.completed:after {
  content: "COMPLETE";
}

.step.completed .edit-step {
  opacity: 1;
}

.analytics-create {
  padding: 10px 20px;
  border: solid #ddd;
  border-width: 2px 0;
  margin: 10px 0;
}
