//
//
// COLOURS
//
//
// New colours for after clean up
// #F0F0F0 Sidebar
// #F5F5F5 Secondary sidebar

$gray-base: #000 !default;
$gray-darker: lighten($gray-base, 13.5); // #222
$gray-dark: #3d3d3d; // #333
$gray: #9c9c9c; // #555
$gray-light: #ddd; // #777
$gray-lighter: #F0F0F0; // #eee

$slate-010: #21242c;
$slate-020: #252932;
$slate-030: #242932;
$slate-040: #2f343f;
$slate-050: #3d4352;
$slate-060: #90A4AE;
$slate-070: #B9C6CC;
$slate-080: #CFD8DC;
$slate-090: #D9DCF2;
$slate-095: #E7E9F7;
$slate-100: #EDEFFB;

$lime-1: #69E815;
$lime-2: #0BD685;

$grape-1: #8125EE;
$grape-2: #607EEE;

$strawberry-1: #F75F86;
$strawberry-2: #EE25AF;

$white: #FFFFFF;

$brand-primary: #3B6DDF;
$brand-secondary: #5558D5;
$brand-success: $lime-2;
$brand-info: #1BBAF9;
$brand-warning: #FFB564;
$brand-danger: #F93A47;

/*
  $colours: (
    "transparent" : transparent,
    "black" : $black,
    "white" : $white,
    "grey" : $grey,
    "grey-darker" : $grey-darker,
    "primary-colour" : $primary-colour,
    "secondary-colour" : $secondary-colour,
);
*/
@if variable-exists(colours) {
  @each $colour, $hex in $colours {
    .text-#{$colour} {
      color: #{$hex} !important;
      transition: color $transition-delay;
    }
    .text-hover-#{$colour}:hover {
      color: #{$hex} !important;
      transition: color $transition-delay;
    }
    .bg-#{$colour} {
      background-color: #{$hex} !important;
      transition: background-color $transition-delay;
    }
    .bg-hover-#{$colour}:hover{
      background-color: #{$hex} !important;
      transition: background-color $transition-delay;
    }
    .border-#{$colour} {
      border-color: #{$hex} !important;
      transition: border-color $transition-delay;
    }
    .border-hover-#{$colour}:hover {
      border-color: #{$hex} !important;
      transition: border-color $transition-delay;
    }
  }
  @if variable-exists(breakpoints_up) {
    @each $breakpoint, $range in $breakpoints_up {
      @media #{$range} {
        @each $colour, $hex in $colours {
          .text-#{$colour}-#{$breakpoint}-up {
            color: #{$hex} !important;
            transition: color $transition-delay;
          }
          .text-hover-#{$colour}-#{$breakpoint}-up:hover {
            color: #{$hex} !important;
            transition: color $transition-delay;
          }
          .bg-#{$colour}-#{$breakpoint}-up {
            background-color: #{$hex} !important;
            transition: background-color $transition-delay;
          }
          .bg-hover-#{$colour}-#{$breakpoint}-up:hover {
            background-color: #{$hex} !important;
            transition: background-color $transition-delay;
          }
          .border-#{$colour}-#{$breakpoint}-up {
            border-color: #{$hex} !important;
            transition: border-color $transition-delay;
          }
          .border-hover-#{$colour}-#{$breakpoint}-up:hover {
            border-color: #{$hex} !important;
            transition: border-color $transition-delay;
          }
        }
      }
    }
  }
}
