/*Colours*/
$white: white;
$black: black;

$transition-delay: 0.5s;

//$primary-height: 20vh;
//
//$desktop-up: (min-width: $screen-md-min);
//$desktop-down: (max-width: $screen-md-min);
//
//// BREAKPOINTS
//$breakpoints_up: (
//        "xs-up"     :   ( min-width: $screen-xs-min ),
//        "sm-up"     :   ( min-width: $screen-sm-min ),
//        "md-up"     :   ( min-width: $screen-md-min ),
//        "lg-up"     :   ( min-width: $screen-lg-min ),
//);

